<div id="banner" class="page-header">
  <div class="row">
    <div class="col-lg-6">
      <h1>Loc8r
        <small>&nbsp;Find places to work with wifi near you!</small>
      </h1>
    </div>
  </div>
</div>
<div class="row"><!-- locations list -->
  <div class="col-xs-12 col-sm-8">
    <div class="error">{{ msg }}</div>
    <div class="row list-group">
      <div class="col-xs-12 list-group-item" *ngFor="let location of locations">
        <h4>
          <a [routerLink]="[ location._id ]">{{ location.name }}</a>&nbsp;
          <small *ngFor="let r of ratings; let i = index;">
            <span class='glyphicon glyphicon-star' *ngIf="location.rating > i"></span>
            <span class='glyphicon glyphicon-star-empty' *ngIf="location.rating < i"></span>
          </small>
          <span class="badge badge-default pull-right">{{ formatDistance(location.distance) }}</span>
        </h4>
        <p class="address">{{ location.address }}</p>
        <p>
          <span class="label label-warning" *ngFor="let facility of location.facilities">
            {{ facility }}
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <p class="lead"><!-- sidebar -->
      Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.
    </p>
  </div>
</div>